
<ion-list style="overflow-y: scroll;">
  <ion-item>
    <ion-label>
      <p><strong>Description:</strong> </p>
    </ion-label>
    <ion-label>
      <p><strong>Amount:</strong> </p>
    </ion-label>
    <ion-label>
      <p><strong>Date:</strong></p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list style="height: 400px; overflow-y: scroll;">
  <ion-item *ngFor="let transaction of transactions">
    <ion-label>
      <p>{{ transaction.description }}</p>
    </ion-label>
    <ion-label>
      <p>{{ transaction.amount }}</p>
    </ion-label>
    <ion-label>
      <p>{{ transaction.date }}</p>
    </ion-label>
  </ion-item>
</ion-list>
